﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "User Details";
}
<link rel="stylesheet" href="~/css/sidebar.css" />

<div class="sidebar">
    <a asp-action="userShow" asp-controller="Admin" style="text-decoration: none;">
       
                User List
        
    </a>
</div>