<div class="cartitems">
    <div class="cartitems-format-main">
        <p>Products</p>
        <p>Title</p>
        <p>Price</p>
        <p>Quantity</p>
        <p>Total</p>
        <p>Remove</p>
    </div>

    <div class="cartitems-down">
        <div class="cartitems-total">
            <h1>Cart Total</h1>
            <div>
                <div class="cartitems-total-item">
                    <p>Subtotal</p>
                    <p></p>
                </div>
                <hr />
                <div class="cartitems-total-item">
                    <p>Shipping Fee</p>
                    <p>Free</p>
                </div>
                <hr />
                <div class="cartitems-total-item">
                    <h3>Total</h3>
                    <h3></h3>
                </div>
            </div>
            <button>PROCEED TO CHECKOUT</button>
        </div>
        <div class="cartitems-promocode">
            <p>If you have a promo code, Enter it here</p>
            <div class="cartitems-promobox">
                <input type="text" placeholder="promo code" />
                <button>Submit</button>
            </div>
        </div>
    </div>
</div>