<div class="hero">
    <div class="hero-left">
        <div class="title">Waterbury Traditional GMT</div>
        <div class="subtitle">There are Time<br>Travelers Among <br>Us</div>
        <div class="description">We’ve blended our traditional craftsmanship<br>with the practicality of a GMT movement</div><br>
        <div><button class="latest-collection-button" id="scrollToNewCollection">Latest Collection</button></div>
    </div>
   @*  <div class="hero-right">
        <img src="/images/hero_image.png" style="height:60px; padding-right:00px; width:">
    </div> *@
</div>

<div class="popular">
    <h1>POPULAR IN WOMEN</h1>
    <hr>
    <div class="popular-item">
        <div class="item">
            <a href="/product/1"><img src="/images/p2_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
            <a href="/product/2"><img src="/images/p4_img.png" alt=""></a>
            <p>Small Edit Grey</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 9,999</div>
                <div class="item-price-old">₹ 13,999</div>
            </div>
        </div>
        <div class="item">
            <a href="/product/3"><img src="/images/p3_img.png" alt=""></a>
            <p>DKNY Soho Three-Hand Nude Leather Watch</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 19,999</div>
                <div class="item-price-old">₹ 23,999</div>
            </div>
        </div>
        <div class="item">
            <a href="/product/4"><img src="/images/p1_img.png" alt=""></a>
            <p>Serein Mid Two-Tone 18K Gold Diamond Dial Watch</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 29,999</div>
                <div class="item-price-old">₹ 33,999</div>
            </div>
        </div>
    </div>
</div>

<div class="offers ov-h">
    <div class="offers-left">
        <h1>Exclusive</h1>
        <h1>Offers For You</h1>
        <p>Only On Best Seller Products</p>
        <button>Check Now</button>
    </div>
    <div class="offers-right">
        <img src="/images/offers1.png" alt="">
    </div>
</div>


<div class="new-collections" id="new-collection" data-scroll="newcollection">
    <h1>NEW COLLECTIONS</h1>
    <hr>
    <div class="collections">
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p5_img.png" alt=""></a>
            <p>Shinola Detrola Buckeye 43mm</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 14,999</div>
                <div class="item-price-old">₹ 17,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="2"><img src="/images/p6_img.png" alt=""></a>
            <p>Ladies Vivienne Westwood Kensington Watch</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 9,999</div>
                <div class="item-price-old">₹ 12,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="3"><img src="/images/p7_img.png" alt=""></a>
            <p>TAG HEUER FORMULA 1 GULF</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 39,999</div>
                <div class="item-price-old">₹ 43,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="4"><img src="/images/p8_img.png" alt=""></a>
            <p>CONSTELLATION SMALL SECONDS</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 29,999</div>
                <div class="item-price-old">₹ 33,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="5"><img src="/images/p9_img.png" alt=""></a>
            <p>MICHAEL KORS DYLAN BLACK SILICONE (QUARTZ)</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 3,999</div>
                <div class="item-price-old">₹ 5,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="6"><img src="/images/p10_img.png" alt=""></a>
            <p>Garonne Kids KV32Q468 Kid Scout Watch</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 2,999</div>
                <div class="item-price-old">₹ 4,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="7"><img src="/images/p11_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ProductDisplay" asp-controller="Home" asp-route-id="8"><img src="/images/p12_img.png" alt=""></a>
            <p>Waldhoff Multimatic Automatic Imperial Gold</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 29,999</div>
                <div class="item-price-old">₹ 33,999</div>
            </div>
        </div>
    </div>
</div>



<script>
    // Get the button element
    const scrollToNewCollectionButton = document.getElementById('scrollToNewCollection');

    // Add click event listener to the button
    scrollToNewCollectionButton.addEventListener('click', () => {
        // Get the new-collections section element
        const newCollectionSection = document.getElementById('new-collection');

        // Scroll to the new-collections section smoothly
        newCollectionSection.scrollIntoView({ behavior: 'smooth' });
    });
</script>


