

<div class="shop-category">
    <img class="shopcategory-banner" src="/images/banner_mens.png" alt="">
    <div class="shopcategory-indexSort">
        <p><span>Showing 1-12</span> out of 36 products</p>
       
    </div>
    <div class="shopcategory-products">
      
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p17_img.png" alt=""></a>
            <p>TAG HEUER FORMULA 1 GULF</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 39,999</div>
                <div class="item-price-old">₹ 43,999</div>
            </div>
        </div>
        
        <!-- Repeat this structure for each item -->
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="2"><img src="/images/p9_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="3"><img src="/images/p10_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="4"><img src="/images/p22_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="5"><img src="/images/p21_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="6"><img src="/images/p25_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="7"><img src="/images/p26_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="8"><img src="/images/p27_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="9"><img src="/images/p15_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="10"><img src="/images/p19_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="11"><img src="/images/p15_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="KidDisplay" asp-controller="Home" asp-route-id="12"><img src="/images/p11_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
    </div>
    
</div>
