<link rel="stylesheet" href="~/css/item.css" />
<div class="shop-category">
    <img class="shopcategory-banner" src="/images/banner_mens.png" >
    <div class="shopcategory-indexSort">
        <p><span>Showing 1-12</span> out of 36 products</p>

    </div>

    <div class="shopcategory-products">

        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p7_img.png" alt=""></a>
            <p>TAG HEUER FORMULA 1 GULF</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 39,999</div>
                <div class="item-price-old">₹ 43,999</div>
            </div>
        </div>
        <!-- Repeat this structure for each item -->
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="2"><img src="/images/p11_img.png" alt=""></a>
            <p>Eone Bradley Classic Black Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 21,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="3"><img src="/images/p12_img.png" alt=""></a>
            <p>Waldhoff Multimatic Automatic Imperial Gold</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 29,999</div>
                <div class="item-price-old">₹ 33,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="4"><img src="/images/p13_img.png" alt=""></a>
            <p>Classique Day-Date Moon Phase</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 19,999</div>
                <div class="item-price-old">₹ 23,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="5"><img src="/images/p14_img.png" alt=""></a>
            <p>Archetype Blackhawk Automatic Calendar Sky Blue</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 59,999</div>
                <div class="item-price-old">₹ 64,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="6"><img src="/images/p15_img.png" alt=""></a>
            <p>ORIS Big Crown 80th Anniversary Edition 40mm Mens Watch</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 79,999</div>
                <div class="item-price-old">₹ 85,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="7"><img src="/images/p16_img.png" alt=""></a>
            <p>ACCUTRON Legacy 2SW7A001</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 19,999</div>
                <div class="item-price-old">₹ 25,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="8"><img src="/images/p17_img.png" alt=""></a>
            <p>Rolex DaytonaNEW RELEASE 2023 Daytona ICE BLUE BAGUETTE 126506A</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 1,59,999</div>
                <div class="item-price-old">₹ 1,79,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="9"><img src="/images/p18_img.png" alt=""></a>
            <p>Junghans max bill 041456202</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 34,999</div>
                <div class="item-price-old">₹ 45,999</div>
            </div>
        </div>
         <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="10"><img src="/images/p19_img.png" alt=""></a>
            <p>Archetype Loyalist Automatic Silver Navy</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 29,999</div>
                <div class="item-price-old">₹ 33,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="11"><img src="/images/p20_img.png" alt=""></a>
            <p>Chopard L.U.C XPS Twist QF</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 24,999</div>
                <div class="item-price-old">₹ 35,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="12"><img src="/images/p21_img.png" alt=""></a>
            <p>Chopard Mille Miglia Classic Chronograph and Ethical Yellow Gold</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 64,999</div>
                <div class="item-price-old">₹ 85,999</div>
            </div>
        </div>
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="13"><img src="/images/p22_img.png" alt=""></a>
            <p>AVI-8 Spitfire Type 300 Automatic Gunmetal Grey</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 89,999</div>
                <div class="item-price-old">₹ 1,01,999</div>
            </div>
        </div> 
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="14"><img src="/images/p23_img.png" alt=""></a>
            <p>AVI-8 Hawker Harrier II Matador Chronograph Black</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 89,999</div>
                <div class="item-price-old">₹ 99,999</div>
            </div>
        </div> 
        <div class="item">
            <a asp-action="ManDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p24_img.png" alt=""></a>
            <p>Szanto Desert Sands Antique Gold Ivory Brown</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 14,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
    </div>
    
</div>
