@model Register

<form action="" method="post">
<div class="loginsignup">
    <div class="loginsignup-container">
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label style="color:red">@ViewBag.Notification</label>
            </div>
        </div>
        <h1>Sign in</h1>
        <div class="loginsignup-fields">
            <input type="text" name= "Name" placeholder="Your Name" />
            <input type="email" name="Email" placeholder="Email Address">
            <input type="password" name="Pass" placeholder="Password">
        </div>
        <button type="submit" name="submit">Continue</button>
        <p class="loginsignup-login"> Already Have Account - <span><a class="" asp-action="Login" asp-controller="Home">Login</a></span></p>
        <div class="loginsignup-agree">
            <input type="checkbox" name="" id="">
            <p>By continuing, I agree to the terms of use & privacy policy.</p>
        </div>
    </div>
</div>
</form>