<div class="shop-category">
    <img class="shopcategory-banner" src="/images/banner_women.png" alt="">
    <div class="shopcategory-indexSort">
        <p><span>Showing 1-12</span> out of 36 products</p>
        <div class="shopcategory-sort">
            <p>Sort by </p>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADXSURBVHgBjVAxDoIwFKXAwKgJG5DgDepAKJvcwCPICZTNzTi6eQO9gaubdesmN9CBA7gx4vvGJkhowk9+//vte/2vtSxEkiTcGhFCiAVVBrBCPSFzpZQ0CbIsW7ZteyEe45xPPM970AHqXEr5HpgQo9wI4+KZXVUVkQpk3DTNzjCI9kmYU+PQUtf1K4qiKeAmDMM79ZqdpumaMbZFlphy/b5JHw7Z/Nl6Is8QFJpra2CwSe+gqfuuV6fbdG0GQcBhSQCX/V/9E1H4vq9c1yWygOgAwbHP+QCpVkvvPqk6tQAAAABJRU5ErkJggg==" alt="">
        </div>
    </div>
    <div class="shopcategory-products">
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="2"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="3"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="4"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="5"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="6"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="7"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p23_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
       
      
    </div>
</div>
