<div class="shop-category">
    <img class="shopcategory-banner" src="/images/banner_women.png" alt="">
    <div class="shopcategory-indexSort">
        <p><span>Showing 1-12</span> out of 36 products</p>
        
    </div>
    <div class="shopcategory-products">
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p1_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="2"><img src="/images/p2_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="3"><img src="/images/p3_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="4"><img src="/images/p4_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="5"><img src="/images/p6_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="6"><img src="/images/p7_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="7"><img src="/images/p8_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
        <div class="item">
             <a asp-action="WomenDisplay" asp-controller="Home" asp-route-id="1"><img src="/images/p4_img.png" alt=""></a>
            <p>Small Edit Emerald Mesh</p>
            <div class="item-prices">
                <div class="item-price-new">₹ 16,999</div>
                <div class="item-price-old">₹ 19,999</div>
            </div>
        </div>
       
      
    </div>
</div>
